

.page-alert {
    max-width: 370px;
    text-align: center;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-top: min(90px, 10vh);
    padding-bottom: min(90px, 10vh);

    &-icon {
        max-width: 113px;
        display: inline-block;
        margin: 0 auto 15px;
    }
    &-text {        
        color: @font_light;        
        text-align: center;
        margin-bottom: 25px;        
    } 
    .ui-title {
        margin-bottom: 20px;
    }
    .ui-btn-block + .ui-btn-block {
        margin-top: 25px;
    }
}