

.wrap-payment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 125px;
    .payment-image {
        margin: 0 0 20px;
    }
    .payment-text {
        height: 36px;
        margin-bottom: 15px;
        color: @font_light;
        max-width: 218px;
        text-align: center;
        margin-bottom: 25px;
    }
    .ui-btn {
        padding: 0 76px;
    }
}